.red-border{border: 1px solid red;}
 
.blue-border{border: 2px solid blue;}
 
.green-border{border: 2px solid green;}

.black-border{border: 2px solid black;}

.goldenrod-border{border: 2px solid goldenrod}

.aqua-border{border: 1px solid aqua}

.container{text-align: center;}